.H4{
    font-family: var(--fuente-texto);
    border-bottom: 2px solid var(--color-bordes);
}
.contenedorTarjetas {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}


  @media (min-width:600px){
      .contenedorTarjetas{
          grid-template-columns: repeat(2, 1fr);
          gap: 2px 2px;
      }

      @media (min-width: 1000px) {
          .contenedorTarjetas{
              grid-template-columns: repeat(4, 1fr);
              gap:2px;
          }
      }

  }

  

  